* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'calibri', 'Open Sans', 'Arial', sans-serif;
    background-color: rgb(223, 214, 214);
    color: #181717;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

main {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"] {
    padding: 10px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #286ea7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #1f547a;
}

select {
    width: 50%;
    padding: 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#analisar {
    display: block;
    margin-top: 10px;
}

article {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}